/*Hola vic!!! mi resolucion de pantala es 1366x768
Screen Width: 1366 pixels
Screen Height: 768 pixels*/

* {
    font-family: 'Be Vietnam Pro', sans-serif;
}

body {
    margin: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /*manda las cosas a los extremos y no hay necesidad de moverlas manualmente*/
    margin: 50px 30px;
    flex-grow: 1;
}

/* si tienes que escoger entre usar margin o padding es mejor padding asi echa todo pa'dentro y no empuja todo pa' fuera */
.navSection {
    padding: 30px;
    display: flex;
}

.barranav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.item {
    padding: 0px 15px;
}

.item:hover {
    color: rgba(36, 46, 82, 0.6);
    cursor: pointer;
}

.boton {
    background-color: #8B48BF;
    border-radius: 50px;
    height: 44px;
    width: 134px;
    border: none;
    color: #FFFFFF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    margin: auto;
}

.boton:hover {
    background-color:  rgba(139, 72, 191, 0.7);
    cursor: pointer;
}

.hamburguesa {
    display: none;
}

.principal {
    display: flex;
    justify-content: space-around;
    margin: 0 50px;
}

h1 {
    width: 439px;
    height: 198px;
    font-weight: 700;
    font-size: 50px;
    color: #232C50;
    line-height: 66px;
}

h2 {
    width: 433px;
    height: 88px;
    font-weight: 700;
    font-size: 36px;
    color: #232851;
    text-align: left;
}

.parrafoUno {
    font-size: 15.5px;
    font-weight: 500;
    width: 350px;
    height: 71px;
    line-height: 160%;
    margin-bottom: 30px;
}

h3 {
    color: #323851;
    font-weight: 700;
    font-size: 16px;
}

h4 {
    font-weight: 700;
    font-size: 16.0714px;
    line-height: 156.6%;
    color: #3F4868;
    margin-block-start: 20px;
    margin-block-end: 5px;
}

.subprincipalUno {
    display: flex;
    justify-content: space-around;
    margin: 5px;
    padding: 10px;
}

.subprincipalUno p {
    width: 437px; 
    height: 104px;
    font-weight: 500;
    font-size: 15.2px;
    line-height: 26px;
    color: #B3B2B7;
}

.botonnumero {
    background-color: #8B48BF;
    border-radius: 30px;
    width: 69px;
    height: 43px;
    border: none;
    padding: 10px 25px;
    margin: 20px;
    color: #FFFFFF;  
}

.botonnumero:hover {
    background-color:  rgba(205, 170, 231, 0.822);
    cursor: pointer;
}

.centrar {
    margin: auto;
    color: #242E53;
    padding: 20px;
}

.cajas {
    display: flex;
    margin: 70px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    background-color: #FAFAFA;
    color: #B9B9C1;
    text-align: center;
    font-size: 15px;
    line-height: 156%;
    margin: 0;
    padding: 25px;
}

.personas {
    width: 70px;
    height: 70px;
    bottom: 230px;
    margin-top: -60px;
}

#botoninferior {
    display: block;
    margin: 50px auto;
}

.finalprincipal {
    background-color: #8B48BF;
    color: #FFFFFF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.final {
    background-color: #FFFFFF;
    color: #8B48BF;
    position: absolute;
    right: 100px;
    top: 90px;
}

.final:hover {
    background-color:  #1E1E26;
    color: #FFFFFF;
    cursor: pointer;
}

footer {
    background-color: #1E1E26;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border: 5px;
}

.logo {
    width: 145px;
    height: 26px;
    margin: auto;
}

i {
    padding: 0px 5px;
}

.iconos {
   position: absolute;
   top: 100px; 
}

.pieUno {
    display: flex;
    flex-direction: column;
    flex-grow: 0.20;
    margin: 25px 60px;
    position: relative;
    align-items: center;
}

.pieDos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 0.50;
}

.lista {
    list-style-type: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
}

input {
    height: 30px;
    width: 200px;
    border-radius: 20px;
    border: 10px;
    padding: 5px;
    color: #A0A0A0;
}

.pieTres {
    color: #8C8C94;
    font-weight: 500;
    font-size: 12px;
    line-height: 100px;
    text-align: center;
    flex-grow: 0.30;
}


@media (max-width: 481px) {

    nav {
        width: 80vw;
        margin: 1vh 10vw;/*utiliza la misma unidad de medida en todo 10vw de margin mas 80vw de content te da el 100vw*/
    }
    
    .esconderEnMobile { /*me invente ese nombre para brindar claridad*/
        display: none;
        visibility: none;
    }

    /*mate el inicial porque use el esconder*/

    .hamburguesa {
        /* esta prop no hace nada, la importante es el display
        visibility: visible; */
        display: flex;
        width: 40px;
        height: 40px;
        margin-top: 25px;
    }

    .ilustracion {
        width: 400px;
        height: 400px;
        display: block;
        margin: auto;
    }

    .principal {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        margin: 0 40px;
        padding: 20px;
        box-sizing: border-box;
    }

    h1 {
        font-size: 40px;
        line-height: 50px;
        font-weight: 700;
        text-align: center;
        width: 80vw;
        height: auto;
        margin: 0;
        line-height: 120%;
    }

    .parrafoUno {
        margin: 20px;
        padding-bottom: 20px;
        width: 70vw;
        text-align: center;
        font-size: 14px;
    }

    .botonMobile {
        display: flex;
        visibility: visible;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .nuevo {
        display: flex;
        flex-direction: column;
    }

    .principal h2 {
        text-align: center;
        font-size: 30px;
        width: 90vw;
        margin: 0;
        padding: 0;
    }

    .seccionImpt {
        width: 30%;
        

    }
    

    .subprincipalUno h3 {
        background-color: rgba(139, 72, 191, 0.3);
        height: 10px;
        text-align: left;
        padding: 15px 25px;
    }


    .centrar {
        text-align: center;
    }

    .card {
        display: none;
        visibility: none;
    }

    .cardMobile {
        visibility: visible;
        display: flex;
        width: 80vw;
    }

    .finalprincipal {
        display: flex;
        flex-direction: column;
        line-height: 48px;
        text-align: center;
        height: 220px;
        position: relative;
    }

    .finalprincipal h2{
        width: 60vw;
        margin: auto;
        font-weight: 500;
        font-size: 35px;
        line-height: 40px;
        letter-spacing: -1px;
    }

    .final {
        visibility: visible;
        position: absolute;
        top: 180px;
        right: 180px;
    }

    footer {
        display: flex;
        flex-direction: column-reverse;
        
    }


